In [1]:
import pandas as pd

In [2]:
data = ['a','b','c']
se = pd.Series(data)
se

0    a
1    b
2    c
dtype: object

In [3]:
se.index

RangeIndex(start=0, stop=3, step=1)

In [4]:
se.values

array(['a', 'b', 'c'], dtype=object)

In [5]:
print(se[1])
print(se[2])

b
c

In [7]:
print(se[:2])
print(se[:])

0    a
1    b
dtype: object
0    a
1    b
2    c
dtype: object

In [8]:
se.name = 'alphabet'
se

0    a
1    b
2    c
Name: alphabet, dtype: object

In [9]:
se.index.name = 'No.'
se

No.
0    a
1    b
2    c
Name: alphabet, dtype: object

In [13]:
data = ['a','b','c','d']
se = pd.Series(data, index=['A','B','C','D'])
print(se)
print(se['A'])

A    a
B    b
C    c
D    d
dtype: object
a

In [14]:
se.index=[1,2,3,4]
print(se)

1    a
2    b
3    c
4    d
dtype: object

In [17]:
import numpy as np

data = np.array([[1,2,3],[4,5,6],[7,8,9]])
column = ['D','E','F']

df = pd.DataFrame(data=data, index = ['A','B','C'], columns=column)

df

   D  E  F
A  1  2  3
B  4  5  6
C  7  8  9

In [18]:
data = {
    'country' : ['kor','usa','china','japan'],
    'rank' : [1,2,3,4],
    'grade' : ['A','B','C','D']
}

df = pd.DataFrame(data)
df

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C
3   japan     4     D

In [25]:
df = df.set_index('grade')
df

      country  rank
grade
A         kor     1
B         usa     2
C       china     3
D       japan     4

In [26]:
data = {
    'country' : ['kor','usa','china','japan'],
    'rank' : [1,2,3,4],
    'grade' : ['A','B','C','D']
}

df = pd.DataFrame(data)
df

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C
3   japan     4     D

In [27]:
df.country

0      kor
1      usa
2    china
3    japan
Name: country, dtype: object

In [28]:
df['country']

0      kor
1      usa
2    china
3    japan
Name: country, dtype: object

In [31]:
print(df[['country','grade']])

  country grade
0     kor     A
1     usa     B
2   china     C
3   japan     D

In [32]:
df.loc[0]

country    kor
rank         1
grade        A
Name: 0, dtype: object

In [33]:
df.loc[0:2]

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C

In [34]:
df.loc[[0,2]]

  country  rank grade
0     kor     1     A
2   china     3     C

In [35]:
df.loc[0,'grade']

'A'

In [41]:
df['grade'][0]

'A'

In [42]:
df.loc[0:2, ['country','grade']]

  country grade
0     kor     A
1     usa     B
2   china     C

In [54]:
df.loc[(df['grade']=='A') | (df['rank']>2)]

  country  rank grade
0     kor     1     A
2   china     3     C
3   japan     4     D

In [57]:
df[df['country'] == 'kor']

  country  rank grade
0     kor     1     A